h1.title Mutasi Minggu Ke-5
h3.heading.mb-30 Donasi Masuk Berupa Uang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 08/05/2020
    td Rp250.000,00
  tr
    td 09/05/2020
    td Rp3.128.261,00
  tr
    td 12/05/2020
    td Rp500.000,00
  tr
    td 13/05/2020
    td Rp203.000,00
  tr
    td 15/05/2020
    td Rp3.228.679,00
  tr.font-weight-bold
    td Total
    td Rp7.309.940,00

h3.heading.mb-30 Donasi Masuk Berupa Barang
.table-wrapper
  table.table.table-zebra.text-align-center(style='width: 150%')
    tr
      th Tanggal
      th Barang
      th Jumlah
    tr
      td 09/05/2020
      td Masakan jadi
      td 50 Porsi
