h1.title Mutasi Minggu Ke-5
h3.heading.mb-30 Donasi Masuk Berupa Uang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 08/05/2020
    td Rp250.000,00
  tr
    td 09/05/2020
    td Rp3.128.261,00
  tr
    td 12/05/2020
    td Rp500.000,00
  tr
    td 13/05/2020
    td Rp203.000,00
  tr
    td 15/05/2020
    td Rp3.228.679,00
  tr
    td 16/05/2020
    td Rp10.733.078,40
  tr.font-weight-bold
    td Total
    td Rp18.043.018,40

h3.heading.mb-30 Donasi Masuk Berupa Barang
.table-wrapper
  table.table.table-zebra.text-align-center(style='width: 150%')
    tr
      th Tanggal
      th Barang
      th Jumlah
    tr
      td 09/05/2020
      td Masakan jadi
      td 50 Porsi

h3.heading.mb-30 Belanja
.table-wrapper.mb-30
  table.table.table-zebra.mb-0.text-align-center(style='width: 200%')
    tr
      th Item/Paket
      th Harga
      th Jumlah
      th Total
      th Catatan
    tr
      td.text-align-left Beras 2 Kg
      td Rp25.000,00
      td 297
      td Rp7.425.000,00
      td
    tr
      td.text-align-left Minyak 1 L
      td Rp11.243,06
      td 297
      td Rp3.339.188,82
      td
    tr
      td.text-align-left Kornet
      td Rp5.500,00
      td 297
      td Rp1.633.500,00
      td
    tr
      td.text-align-left Mie 5 Pcs
      td Rp10.590,00
      td 297
      td Rp3.145.230,00
      td
    tr
      td.text-align-left Sarden
      td Rp9.800,00
      td 297
      td Rp2.910.600,00
      td
    tr
      td.text-align-left Plastik
      td Rp350,00
      td 297
      td Rp103.950,00
      td
    tr.font-weight-bold
      td(colspan='3') Total
      td Rp18.557.468,82
      td 2 Kg Beras, 1 L Minyak, 1 Kornet, 5 Pcs Mie Instan, 1 Sarden, 1 Plastik

h3.heading.mb-30 Mutasi Minggu 5
.table-wrapper
  table.table.table-zebra.text-align-center(style='width: 100%')
    tr
      th Catatan
      th Jumlah
    tr
      td Balance dana minggu 4
      td Rp515.383,22
    tr
      td Donasi masuk minggu 5
      td Rp18.043.018,40
    tr
      td Total
      td Rp18.558.401,62
    tr
      td Belanja minggu 4
      td Rp18.557.468,82
    tr.font-weight-bold
      td Balance
      td Rp932,80
