h1.title Mutasi Minggu Ke-2
h3.heading.mb-30 Donasi Masuk Berupa Uang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 17/04/20
    td Rp100.000,00
  tr
    td 18/04/20
    td Rp100.000,00
  tr
    td 19/04/20
    td Rp60.000,00
  tr
    td 24/04/20
    td Rp150.000,00
  tr.font-weight-bold
    td Total
    td Rp410.000,00

h3.heading.mb-30 Donasi Masuk Berupa Barang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Barang
    th Jumlah
  tr
    td 20/04/20
    td Masker Kain
    td 5 Lusin
  tr
    td 13/04/20
    td Masker Kain
    td 2 Lusin
