h1.title Mutasi Minggu Ke-2
h3.heading.mb-30 Donasi Masuk Berupa Uang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 17/04/20
    td Rp100.000,00
  tr
    td 18/04/20
    td Rp100.000,00
  tr
    td 19/04/20
    td Rp60.000,00
  tr.font-weight-bold
    td Total
    td Rp260.000,00

h3.heading.mb-30 Donasi Masuk Berupa Barang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Barang
    th Jumlah
  tr
    td 20/04/20
    td Masker Kain
    td 5 Lusin
  tr
    td 13/04/20
    td Masker Kain
    td 2 Lusin

h3.heading.mb-30 Belanja
.table-wrapper.mb-30
  table.table.table-zebra.mb-0.text-align-center(style='width: 180%')
    tr
      th Item/Paket
      th Harga
      th Jumlah
      th Total
      th Catatan
    tr
      td.text-align-left Beras 2kg
      td Rp22.000,00
      td 8
      td Rp176.000,00
      td
    tr
      td.text-align-left Minyak 1L
      td Rp14.072,50
      td 8
      td Rp112.580,00
      td
    tr
      td.text-align-left Masako
      td Rp4.290,00
      td 8
      td Rp34.320,00
      td
    tr
      td.text-align-left Mie Sedap
      td Rp2.090,00
      td 40
      td Rp83.600,00
      td
    tr
      td.text-align-left Plastik
      td Rp200,00
      td 9
      td Rp1.800,00
      td
    tr.font-weight-bold
      td(colspan='3') Total
      td Rp408.300,00
      td.text-align-left 2kg beras, 1L minyak, Masako, 5pcs Mie#[br]Rp51.037,50 per pax

h3.heading.mb-30 Mutasi Minggu 2
table.table.table-zebra.text-align-center
  tr
    th Catatan
    th Jumlah
  tr
    td Balance dana minggu 1
    td Rp20.183,78
  tr
    td Donasi masuk minggu 2
    td Rp410.000,00
  tr
    td Belanja masuk minggu 2
    td -Rp408.300,00
  tr.font-weight-bold
    td Balance
    td Rp21.883,78
