h1.title Mutasi Minggu Ke-1
h3.heading.mb-30 Donasi Masuk Berupa Uang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 10/04/20
    td Rp1.400.883,78
  tr
    td 11/04/20
    td Rp631.924,00
  tr
    td 12/04/20
    td Rp350.000,00
  tr
    td 13/04/20
    td Rp500.000,00
  tr
    td 14/04/20
    td Rp1.200.001,00
  tr
    td 15/04/20
    td Rp450.000,00
  tr
    td 16/04/20
    td Rp150.000,00
  tr.font-weight-bold
    td Total
    td Rp4.682.808,78

h3.heading.mb-30 Donasi Masuk Berupa Barang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Barang
    th Jumlah
  tr
    td 11/04/20
    td Masker Kain
    td 4 Lusin
  tr
    td 16/04/20
    td Masker Kain
    td 1 Lusin
  tr
    td 16/04/20
    td Masker Kain
    td 1 Lusin

h3.heading.mb-30 Belanja
.table-wrapper.mb-30
  table.table.table-zebra.mb-0.text-align-center(style='width: 180%')
    tr
      th Item/Paket
      th Harga
      th Jumlah
      th Total
      th Catatan
    tr
      td.text-align-left Sembako
      td Rp47.500,00
      td 75
      td Rp3.562.500,00
      td 2 Kg Beras; 1L Minyak; 4 Pcs Mie
    tr
      td.text-align-left Kornet
      td Rp14.670,00
      td 75
      td Rp1.100.250,00
    tr.font-weight-bold
      td(colspan='3') Total
      td Rp4.662.750,00
      td

h3.heading.mb-30 Mutasi Minggu 1
table.table.table-zebra.text-align-center
  tr
    th Catatan
    th Jumlah
  tr
    td Donasi masuk minggu 1
    td Rp4.682.933,78
  tr
    td Belanja masuk minggu 1
    td -Rp4.662.750,00
  tr.font-weight-bold
    td Balance
    td Rp20.183,78
