h1.title Mutasi Minggu Ke-3
h3.heading.mb-30 Donasi Masuk Berupa Uang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 24/04/2020
    td Rp150.000,00
  tr
    td 25/04/2020
    td Rp330.000,00
  tr
    td 27/04/2020
    td Rp200.000,00
  tr
    td 01/05/2020
    td Rp100.000,00
  tr.font-weight-bold
    td Total
    td Rp780.000,00
