h1.title Mutasi Minggu Ke-4
h3.heading.mb-30 Donasi Masuk Berupa Uang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 25/04/2020
    td Rp330.000,00
  tr
    td 27/04/2020
    td Rp200.000,00
  tr.font-weight-bold
    td Total
    td Rp530.000,00

h1.title Mutasi Minggu Ke-3
h3.heading.mb-30 Donasi Masuk Berupa Uang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 01/05/2020
    td Rp100.000,00
  tr
    td 02/05/2020
    td Rp1.565.000,00
  tr
    td 03/05/2020
    td Rp1.570.000,00
  tr
    td 04/05/2020
    td Rp200.000,00
  tr
    td 05/05/2020
    td Rp410.000,00
  tr.font-weight-bold
    td Total
    td Rp3.845.000,00

h3.heading.mb-30 Donasi Masuk Berupa Barang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Barang
    th Jumlah
  tr
    td 04/05/2020
    td Sembako (beras, minyak, sarden, indomie)
    td 9 Paket
  tr
    td 04/05/2020
    td Indomie Goreng
    td 2 Dus (80 Pcs)
  tr
    td 05/05/2020
    td Masker Kain
    td 2 Dus (80 Pcs)
