h1.title Mutasi Minggu Ke-3 dan Ke-4
h3.heading.mb-30 Donasi Masuk Berupa Uang Minggu Ke-3
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 25/04/2020
    td Rp330.000,00
  tr
    td 27/04/2020
    td Rp200.000,00
  tr.font-weight-bold
    td Total
    td Rp530.000,00

h3.heading.mb-30 Donasi Masuk Berupa Uang Minggu Ke-4
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 01/05/2020
    td Rp100.000,00
  tr
    td 02/05/2020
    td Rp1.565.000,00
  tr
    td 03/05/2020
    td Rp1.570.000,00
  tr
    td 04/05/2020
    td Rp200.000,00
  tr
    td 05/05/2020
    td Rp410.000,00
  tr
    td 07/05/2020
    td Rp300.000,00
  tr.font-weight-bold
    td Total
    td Rp4.145.000,00

h3.heading.mb-30 Donasi Masuk Berupa Barang
.table-wrapper
  table.table.table-zebra.text-align-center(style='width: 150%')
    tr
      th Tanggal
      th Barang
      th Jumlah
    tr
      td 04/05/2020
      td Sembako (beras, minyak, sarden, indomie)
      td 9 Paket
    tr
      td 04/05/2020
      td Indomie Goreng
      td 2 Dus (80 Pcs)
    tr
      td 05/05/2020
      td Masker Kain
      td 38 Pcs
    tr
      td 07/05/2020
      td Sarden
      td 18 Pcs

h3.heading.mb-30 Belanja
.table-wrapper.mb-30
  table.table.table-zebra.mb-0.text-align-center(style='width: 200%')
    tr
      th Item/Paket
      th Harga
      th Jumlah
      th Total
      th Catatan
    tr
      td.text-align-left Beras 2 Kg
      td Rp20.000,00
      td 72
      td Rp1.440.000,00
      td
    tr
      td.text-align-left Minyak 1 Liter
      td Rp11.243,06
      td 72
      td Rp809.500,32
      td
    tr
      td.text-align-left Kornet
      td Rp14.741,67
      td 72
      td Rp1.061.400,24
      td
    tr
      td.text-align-left Mie 5 Pcs
      td Rp10.375,00
      td 56
      td Rp581.000,00
      td Sisa 16 Paket (80 Pcs) Indomie dari donatur tanggal 04/05/2020
    tr
      td.text-align-left Kecap Manis
      td Rp1.287,50
      td 72
      td Rp92.700,00
      td
    tr.font-weight-bold
      td(colspan='3') Total
      td Rp3.984.600,56
      td

h3.heading.mb-30 Mutasi Minggu 4
.table-wrapper
  table.table.table-zebra.text-align-center(style='width: 120%')
    tr
      th Catatan
      th Jumlah
    tr
      td Balance dana minggu 2
      td Rp21.883,78
    tr
      td Donasi masuk minggu 3-4
      td Rp4.675.000,00
    tr
      td Total
      td Rp4.696.883,78
    tr
      td Belanja minggu 4
      td Rp4.181.500,56
    tr.font-weight-bold
      td Balance
      td Rp515.383,22
    tr
      td Nilai sembako mengendap
      td Rp166.000,00 (80 Indomie)#[br]Rp30.900,00 (24 Kecap)
    tr.font-weight-bold
      td Sisa uang dan nilai sembako
      td Rp712.283,22
