.contact
  @extend .section

  .contact-item
    margin 10px 0

    .contact-item-name
      font-weight bold
      float left

    .contact-item-phone
      float left
      margin-left 10px

  .illust
    background-image url('../../public/illustrations/illust-contact.png')
    // background-color grey
    position absolute
    right -80px
    margin-top -60px