.donation
  @extend .section
  background-color _blue
  color #f2f2f2
  opacity 0.9
  margin -50px -30px
  padding 50px 30px
  text-align center

  h2
    opacity 1

  img
    width 200px

  .caption
    color #f2f2f2
    opacity 0.5
    line-height 20px

.icon-text-arrow-up-right::before
  margin-left 5px
  margin-top -3px