.gallery
  @extend .section

  .notice
    width 100%
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)
    text-align center
    opacity 50%
    margin-top -20px

  .gallery-wrapper
    display flex
    justify-content space-between
    flex-wrap wrap

    .gallery-item
      width 32%
      margin 5px 0
      background-color #f2f2f2

      &:after
        content ''
        display block
        padding-bottom 100%

.icon-text-instagram::before
  margin 0 3px
