.team
  @extend .section
  margin-top 200px

  .team-wrapper
    display flex
    // flex-wrap wrap
    flex-flow row wrap

    .team-item
      width 33%
      padding 20px

      @media (max-width: 500px)
        width 50%

      @media (max-width: 340px)
        width 100%

      &-avatar
        width 100%
        margin-bottom 10px
        border-radius 999px
        background-size contain
        background-repeat no-repeat
        background-position center

        &:after
          content ''
          display block
          padding-bottom 100%