_yellow = #F6C060
_blue = #2D4767

html
body
  overflow-x hidden

.wrapper
  // border 1px solid blue
  max-width 500px
  margin 0 auto
  padding 60px 30px

.section
  position relative
  margin-top 300px