.icon
  width 24px
  height 24px
  background-repeat no-repeat
  background-position center
  background-size contain

  &.icon-quote
    background-image url('../../public/icons/icon-quote.png')

.icon-bank
  filter brightness(0) invert(1)
  width 72px
  height 72px

.icon-text
  display inline-block

  &::before
    content ''
    display inline-block
    width 20px
    height 20px
    background-size contain
    background-repeat no-repeat
    background-position center
    vertical-align middle

  &.icon-text-instagram::before
    background-image url('../../public/icons/icon-instagram.png')

  &.icon-text-arrow-up-right::before
    background-image url('../../public/icons/icon-arrow-up-right.png')

  &.icon-text-arrow-right::before
    background-image url('../../public/icons/icon-arrow-right.png')
    background-size 16px

  &.icon-text-bca::before
    background-image url('../../public/icons/icon-bca.png')
    @extend .icon-bank

  &.icon-text-ovo::before
    background-image url('../../public/icons/icon-ovo.png')
    @extend .icon-bank
