.clearfix
  clear both

.m
  &t
    &-10
      margin-top 10px
    &-20
      margin-top 20px
    &-30
      margin-top 30px
  &b
    &-10
      margin-bottom 10px
    &-20
      margin-bottom 20px
    &-30
      margin-bottom 30px

.text
  &-align
    &-center
      text-align center

.display
  &-none
    display none !important

.opacity
  &-70
    opacity 0.7