.clearfix
  clear both

.m
  &t
    &-10
      margin-top 10px
    &-20
      margin-top 20px
    &-30
      margin-top 30px
  &b
    &-0
      margin-bottom 0
    &-5
      margin-bottom 5px
    &-10
      margin-bottom 10px
    &-20
      margin-bottom 20px
    &-30
      margin-bottom 30px
    &-50
      margin-bottom 50px
  &l
    &-20
      margin-left 20px

.text
  &-align
    &-center
      text-align center
    &-right
      text-align right
    &-left
      text-align left

.font
  &-weight
    &-bold
      font-weight bold

.float
  &-left
    float left
  &-right
    float right

.display
  &-none
    display none !important
  &-block
    display block !important

.opacity
  &-70
    opacity 0.7

.cursor
  &-pointer
    cursor pointer