head
  meta(charset='UTF-8')
  title KitaBerbagiYuk
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  meta(name='title', content='KitaBerbagiYuk')
  meta(name='description', content='KitaBerbagiYuk ingin mengajak kamu orang baik, untuk mengumpulkan dana bantuan yang akan didistribusikan kepada mereka yang terdampak pandemi Covid-19 ini.')
  meta(property='og:type', content='website')
  meta(property='og:url', content='https://www.kitaberbagiyuk.com/')
  meta(property='og:title', content='KitaBerbagiYuk')
  meta(property='og:description', content='KitaBerbagiYuk ingin mengajak kamu orang baik, untuk mengumpulkan dana bantuan yang akan didistribusikan kepada mereka yang terdampak pandemi Covid-19 ini.')
  meta(property='og:image', content='https://user-images.githubusercontent.com/1132660/79114017-66288580-7dac-11ea-9371-c5e6a88f5582.png')
  meta(property='twitter:card', content='summary_large_image')
  meta(property='twitter:url', content='https://www.kitaberbagiyuk.com/')
  meta(property='twitter:title', content='KitaBerbagiYuk')
  meta(property='twitter:description', content='KitaBerbagiYuk ingin mengajak kamu orang baik, untuk mengumpulkan dana bantuan yang akan didistribusikan kepada mereka yang terdampak pandemi Covid-19 ini.')
  meta(property='twitter:image', content='https://user-images.githubusercontent.com/1132660/79114017-66288580-7dac-11ea-9371-c5e6a88f5582.png')

  link(href='https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap' rel='stylesheet')
  link(href='stylesheets/index.styl' rel='stylesheet')
