section.contact
  h2.mb-20 Kontak Kami
  .illust
  .contact-item
    .contact-item-name Azaria
    .contact-item-phone 0811 222 8077
    .clearfix
  .contact-item
    .contact-item-name Marcha
    .contact-item-phone 0812 9759 8765
    .clearfix
  .contact-item
    .contact-item-name Email
    .contact-item-phone donasi@kitaberbagiyuk.com
    .clearfix
