section.cover
  .logo
  h1.logo-text #[span #]KitaBerbagiYuk
  .display Berbagi untuk sahabat Kota Bandung.
  .collected
    .js-collected Rp...
    .line
    .caption Total Donasi Terkumpul
  .illust
