section.donation
  h2.mb-10 Cara Donasi
  p Salurkan donasi terbaik kamu ke:
  .mt-30
    div Bank BCA
    div 0860 49 1257 a.n. Dias Servia Swara
  .mt-30
    div OVO
    div 0812 3855 3848 a.n. Dias Servia Swara
  a.btn.btn-primary.mt-30.mb-10(href='https://forms.gle/XS1kArogZNZbVpdZA')
    | Konfirmasi Transfer Donasi
    .icon-text.icon-text-arrow-up-right
  .caption Sobat berbagi, jangan lupa #[br] untuk konfirmasi jika sudah berbagi ya.
  .mt-30 Sobat berbagi juga bisa berdonasi berupa makanan dan barang-barang seperti masker kain, cairan disinfektan, dan hand sanitizer.