section.donation
  h2.mb-10 Cara Donasi
  p Salurkan donasi terbaik kamu ke:
  .mt-30
    div.icon-text.icon-text-bca
    div #[code 0860 49 1257] a.n. Dias Servia Swara
    details
      summary QR Code
      img(src='../public/qr-bca.jpg')
  .mt-30
    div.icon-text.icon-text-ovo
    div #[code 0812 3855 3848] a.n. Dias Servia Swara
  a.btn.btn-primary.mt-30.mb-10(href='https://forms.gle/XS1kArogZNZbVpdZA')
    | Konfirmasi Transfer Donasi
    .icon-text.icon-text-arrow-up-right
  .caption Sobat berbagi, jangan lupa #[br] untuk konfirmasi jika sudah berbagi ya.
  .mt-30 Sobat berbagi juga bisa berdonasi berupa makanan dan barang-barang seperti masker kain, cairan disinfektan, dan hand sanitizer. #[br] Untuk info lebih lengkapnya silakan hubungi nomor di bawah ini.
