section.gallery
  h4.notice Dokumentasi akan datang. Tunggu ya!
  .gallery-wrapper
    .gallery-item
    .gallery-item
    .gallery-item
    .gallery-item
    .gallery-item
    .gallery-item
    .gallery-item
    .gallery-item
    .gallery-item
  p.mt-10.text-align-center Lihat lebih lengkap di #[a.icon-text.icon-text-instagram(href='https://www.instagram.com/kitaberbagiyuk') Instagram] kami.
