section.mission
  .content
    h2.heading Tujuan Kami
    p #KitaBerbagiYuk mengajak kamu orang baik untuk berbagi, mengumpulkan dana yang akan didistribusikan kepada masyarakat yang terdampak pandemi Covid-19.
  .clearfix
  .illust
