section.team.text-align-center
  h2.mb-30 Tim Kami
  .team-wrapper
    .team-item
      .team-item-avatar(style='background-image: url(../public/avatar/iqbalperkasa.jpg)')
      div Iqbal Perkasa
      .caption @iqbalperkasa
    .team-item
      .team-item-avatar
      div Iqbal Perkasa
      .caption @iqbalperkasa
    .team-item
      .team-item-avatar
      div Iqbal Perkasa
      .caption @iqbalperkasa
    .team-item
      .team-item-avatar
      div Iqbal Perkasa
      .caption @iqbalperkasa
    .team-item
      .team-item-avatar
      div Iqbal Perkasa
      .caption @iqbalperkasa
    .team-item
      .team-item-avatar
      div Iqbal Perkasa
      .caption @iqbalperkasa
    .team-item
      .team-item-avatar
      div Iqbal Perkasa
      .caption @iqbalperkasa
    .team-item
      .team-item-avatar
      div Iqbal Perkasa
      .caption @iqbalperkasa
    .team-item
      .team-item-avatar
      div Iqbal Perkasa
      .caption @iqbalperkasa
