section.team.text-align-center
  h2.mb-30 Tim Kami
  .team-wrapper
    .team-item
      .team-item-avatar(style='background-image: url(../public/avatar/marcha.jpg)')
      div Marcha Nabila
      .caption
        a(href='https://www.instagram.com/mrchnabila') @mrchnabila
    .team-item
      .team-item-avatar(style='background-image: url(../public/avatar/dias.jpg)')
      div Dias Servia Swara
      .caption
        a(href='https://www.instagram.com/diasserviaswara') @diasserviaswara
    .team-item
      .team-item-avatar(style='background-image: url(../public/avatar/hasanah.jpg)')
      div Hasanah Arifah
      .caption
        a(href='https://www.instagram.com/hasanaharifahh') @hasanaharifahh
    .team-item
      .team-item-avatar(style='background-image: url(../public/avatar/asha.jpg)')
      div Azaria Bella
      .caption
        a(href='https://www.instagram.com/azariabella') @azariabella
    .team-item
      .team-item-avatar(style='background-image: url(../public/avatar/agung.jpg)')
      div Agung Wardhana
      .caption
        a(href='https://www.instagram.com/djaaali') @djaaali
    .team-item
      .team-item-avatar(style='background-image: url(../public/avatar/lulu.jpg)')
      div Lulu Syadza S.
      .caption
        a(href='https://www.instagram.com/lulusyadza') @lulusyadza
    .team-item
      .team-item-avatar(style='background-image: url(../public/avatar/gio.jpg)')
      div Giovanni Victor
      .caption
        a(href='https://www.instagram.com/_gv.d') @_gv.d
    .team-item
      .team-item-avatar(style='background-image: url(../public/avatar/rara.jpg)')
      div Tisara Kaulika
      .caption
        a(href='https://www.instagram.com/tisarakaulika') @tisarakaulika
    .team-item
      .team-item-avatar(style='background-image: url(../public/avatar/iqbal.jpg)')
      div Iqbal Perkasa
      .caption
        a(href='https://www.instagram.com/iqbalperkasa') @iqbalperkasa
