<!DOCTYPE html>
html(lang="en")
  include partials/_head

  body
    main.wrapper
      include partials/cover
      include partials/mission
      include partials/gallery
      include partials/quote
      include partials/donation
      include partials/team
      include partials/contact
      include partials/footer

    script(src='javascripts/app.js')
    include javascripts/tracking