<!DOCTYPE html>
html(lang="en")
  include partials/_head

  body
    main.wrapper
      .js-app-wrapper
    //- main.wrapper
    //-   include partials/display
    //-   include partials/mission
    //-   include partials/gallery
    //-   include partials/quote
    //-   include partials/donation
    //-   include partials/team
    //-   include partials/contact
    //-   include partials/footer

    include javascripts/index
