//- fire deployment
h1.title Mutasi Minggu Ke-4
h3.heading.mb-30 Donasi Masuk Berupa Uang
table.table.table-zebra.text-align-center
  tr
    th Tanggal
    th Jumlah
  tr
    td 01/05/2020
    td Rp100.000,00
  tr
    td 02/05/2020
    td Rp1.565.000,00
  tr
    td 03/05/2020
    td Rp1.570.000,00
  tr.font-weight-bold
    td Total
    td Rp3.235.000,00
